/*  Back Top Button  */
#back-top {
    position: fixed;
    bottom: -50px;
    right: 0%;
    margin-right: 40px;
    background-color: #aaa;
    border-radius: 8px;
    transition: 0.7s;
    opacity: 0; /* 初始时隐藏 */
  }
  #back-top.show {
    opacity: 0.8; /* 显示时透明度为1 */
    bottom: 30px;
}
  #back-top:hover {
    background-color: #777;
    opacity: 1; 
  }
  #back-top a {
    color: #fff;
    text-decoration: none;
    padding: 0px 10px;
    display: inline-block;
    font-size: 1.5em;
  }

/*  文章结束  */

.passage_end{
    position: relative;
    float: left;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    clear: both;
}
.passage_end p{
    font-family: serif;
    color: #252525;
    text-align: center;
    margin-top: 2em;
    margin-bottom: 0em;
}